.header_one {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #4b6b4dbe;
   height: 50px;
}

.header_two {
   position: fixed;
   top: 5%;
   left: 0;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #4b6b4da1;
   height: 50px;
}

.search_bar {
   display: flex;
   flex-direction: column;
   gap: 0.25rem;
}

input {
   font-size: 1rem;
}

.cards {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
   gap: 0.25rem;
   margin-top: 1rem;
}

.card {
   border: 1px solid black;
   background-color: white;
   padding: 0.5rem;
}

.hide {
   display: none;
}

#btn-add-character {
   margin: 20px;
   top: 0%;
   right: 30%;
   height: 4vh;
   background-color: #89a0b4;
   border: 2px solid black;
   border-radius: 5px;
}

#filter-header {
   display: grid;
   grid-template-columns: 200px 1fr;
}
#text-filter {
   text-align: center;
   font-size: larger;
   font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

label {
   font-size: large;
   font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1 {
   font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h3 {
   font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
   background-color: #5b7992;
   background-size: contain;
}

footer {
   margin-top: 10px;
   bottom: 0;
   left: 0;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #4b6b4d;
   height: 50px;
}

#dialog-add-character {
   background-color: #89a0b4;
   border: 2px solid black;
   border-radius: 5px;
   box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.348);
}

form button {
   height: 4vh;
   border-radius: 1px;
   background-color: rgb(136, 189, 172);
}

#btn-reset {
   height: 4vh;
   border-radius: 1px;
   background-color: rgb(136, 189, 172);
}

#btn-add {
   height: 4vh;
   border-radius: 1px;
   background-color: rgb(136, 189, 172);
}

#first_add_char {
   text-align: center;
   margin-top: 1px;
   padding: 2px;
   font-weight: bold;
}
body {
   display: grid;
   grid-template-areas: "classes characters characters characters characters ";
   grid-template-rows: 10vh 90vh;
   padding: 0.5%;
}

.class-grid-item {
   background-size: contain;
   margin-left: 10px;
   margin-right: 10px;
   padding-right: 10px;
}
.class-grid {
   margin-top: 10vh;

   background-color: #5581588b;
   height: 1000%;
   grid-area: classes;
   object-fit: cover;
   grid-template-columns: 200px;
   margin-right: 15px;
}
.character-grid {
   padding-left: 20px;
   margin-top: 10vh;
   background-color: rgb(81, 122, 133);
   height: 1000%;
   grid-area: characters;
   object-fit: cover;
   grid-template-columns: 1fr 1fr 1fr;
}

#characters {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
}

#characters .character-grid-item {
   width: 100%;
   padding: 10px 0;
   text-align: center;
   background-color: rgb(105, 140, 164);
   margin-bottom: 10px;
   list-style-type: none;
   border: 2px solid pink;
}

.btn-update-character {
   height: 4vh;
   border-radius: 1px;
   background-color: #89a0b4;
}
.btn-delete-character {
   height: 4vh;
   border-radius: 1px;
   background-color: rgb(136, 189, 172);
}

.hidden {
   display: none;
}

#dialog-for-classes {
   pointer-events: none;
}

#dialog-for-classes dialog {
   pointer-events: auto;
}

p {
   font-size: small;
}
